<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="shared-styles.html">

<dom-module id="add-view">
  <script src="../config.js"></script>

  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .clearfix{height: 0; clear: both;}
      .spacer{height: 12px;}

    </style>

    <div class="card">
      <div class="circle">A</div>
      <h1>Add Member</h1>
      
      <paper-input label="First Name"></paper-input>
      <paper-input label="Last Name"></paper-input>
      <paper-input label="Other Name"></paper-input>
      <paper-input label="Mobile"></paper-input>
      <paper-input label="Program Module"></paper-input>
      <paper-input label="Institution"></paper-input>
      <paper-input label="Start Date"></paper-input>
      <paper-input label="End Date"></paper-input>
      <div class="spacer"></div>

      <paper-button>Save</paper-button>

    </div>
  </template>

  <script>
    class Add extends Polymer.Element {
      static get is() { return 'add-view'; }
    }

    window.customElements.define(Add.is, Add);
  </script>
</dom-module>
