<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">


<link rel="import" href="shared-styles.html">

<dom-module id="list-view">
  <script src="../config.js"></script>

  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      iron-list{
        padding-top: 10px;
      }

      paper-fab{
        position: fixed; bottom: 40px; right: 40px;
      }
      
    </style>
    <iron-ajax id="list"  method="GET" handle-as="json" on-response="_handleListResponse" debounce-duration="0" on-error="_onErrorList"></iron-ajax>

    <div class="container">

    <div>
      <paper-input id="search_id" label="search"></paper-input>
    </div>

    <iron-list items="[[data]]" as="item">
      <template>
        <div class="card" on-tap="_onItemTapped">
          <div class="circle">{{getInitials(item.firstname, item.lastname)}}</div>
          <h2>{{item.firstname}} {{item.lastname}}</h2>
          <h4>{{item.yea_id}}</h4>
          <p>{{item.prog_module}}</p>
          <p>{{item.inst_name}}</p>
        </div>
    </template>

    </iron-list>
    <paper-fab icon="icons:add" title="add"></paper-fab>
  </div>
  </template>

  <script>
    class List extends Polymer.Element {
      static get is() { return 'list-view'; }
      static get properties (){
        return{
          data : {
            type : Array
          }
        }
      }

      constructor(){
        super();
        this.data = [];

      }

      ready(){
        super.ready();
        this.makeInitCall();
      }

      static get observers() {
        return [
          '_dataChanged(data.*)'
        ]
      }

      getInitials(firstname, lastname){
        return firstname.charAt(0).toUpperCase()+lastname.charAt(0).toUpperCase();
      }

      makeInitCall(){
        this.$.list.url = config.url+'/members';
        this.$.list.generateRequest();    
      }

      _dataChanged(changedData){

      }

      _handleListResponse(e){
        if(e.detail.response){
          console.log(JSON.stringify(e.detail.response));
          this.data = e.detail.response;
        }
      }

      _onItemTapped(e){
        alert('tapped');
      }
    }

    window.customElements.define(List.is, List);
  </script>
</dom-module>
